<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <style>
        .top-buffer {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">

    <form action="/" method="get">
    <div class="row top-buffer">
        <div class="col-lg-6">
            <div class="input-group">
                    <input name="query" type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
            </div>
        </div>
    </div>
    </form>

    {% for item in search_results %}
    <div class="row top-buffer">
        <div> <a href="https://www.researchgate.net/publication/{{ item.id }}">{{ item.title }}</a></div>
        <div class="col-md-9">
            {{ item.abstract }}
        </div>
    </div>
    <div class="row">
        <a href="/references?id={{ item.id }}">[refences]</a>
    </div>
    {% endfor %}


</div>
</body>
</html>
